body{    
    margin: 0;
    padding: 0;
    position: relative;
}
div {
    background-color: rgb(46, 207, 14);
    width: 100%;
   /* top: 100px;
    right: 12px;
    left: 20px;
    bottom: 50px;*/
    position: sticky;
    margin: 0;
    height: 50px;
}
#test{
    position: sticky;
    top: 10%;
    background-color: aquamarine;
    padding: 10px;
}