body {
    background-color: 
    rgba(222, 247, 247, 0.749);
    /*Afecta el fondo*/

    color: #1f4784;
    /*Afecta a todo el texto*/
}
div{
    background-color:
    #fff;
    /*Afecta todo el div*/
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: 50px auto;
    /*Mueve el tamaño del div*/
}

